{% comment %} Snippet: product.liquid {% endcomment %}
/// snippet code ///

  comment
    PDP form buttons
  endcomment
  assign enable_half_width_btn = settings.enable_half_width_btn
  assign atc_button_color = settings.atc_button_color
  assign atc_button_style = settings.atc_button_style
  assign buynow_btn_color = settings.buynow_btn_color
  assign buynow_btn_style = settings.buynow_btn_style
-%}

<!-- product image order swap -->

    {%- capture product_gallery -%}
  {%- unless product == blank -%}
    <div class="{{ product_gallery_class }}{{ product_gallery_modifiers }}"
      id="ProductPhoto--{{ unique }}"
      data-gallery="{{ enable_zoom }}"
      data-autoplay-video="false"
      data-product-single-media-group>
      <div class="product-single__media-slider
        {% if product.media.size == 1 %} product-single__media-slider--single{% endif %}" data-product-single-media-slider>
        {%- if product.media.size > 2 and product.title != "Sculpt 01" and product.handle != "sculpt-01" and template != "product.guasha" -%}
          {%- comment -%} Show the second photo as the first photo {%- endcomment -%}
          {%- assign second_photo = product.media[1] -%}
          {%- render 'media', unique: unique, current_variant: current_variant, media: second_photo, featured_media: featured_media, image_width: image_size_desktop, enable_video_looping: enable_video_looping, enable_zoom: enable_zoom, section_type: section_type -%}

          {%- comment -%} Show the first photo as the second photo {%- endcomment -%}
          {%- assign first_photo = product.media[0] -%}
          {%- render 'media', unique: unique, current_variant: current_variant, media: first_photo, featured_media: featured_media, image_width: image_size_desktop, enable_video_looping: enable_video_looping, enable_zoom: enable_zoom, section_type: section_type -%}

          {%- comment -%} Loop product media skipping the first two {%- endcomment -%}
          {%- for media in product.media offset: 2 -%}
            {%- render 'media', unique: unique, current_variant: current_variant, media: media, featured_media: featured_media, image_width: image_size_desktop, enable_video_looping: enable_video_looping, enable_zoom: enable_zoom, section_type: section_type -%}
          {%- endfor -%}
        {%- else -%}
          {%- comment -%} The original code for less than 3 images {%- endcomment -%}
          {%- render 'media', unique: unique, current_variant: current_variant, media: featured_media, featured_media: featured_media, image_width: image_size_desktop, enable_video_looping: enable_video_looping, enable_zoom: enable_zoom, section_type: section_type -%}
          {%- for media in product.media -%}
            {%- if media.id != featured_media_id -%}
              {%- render 'media', unique: unique, current_variant: current_variant, media: media, featured_media: featured_media, image_width: image_size_desktop, enable_video_looping: enable_video_looping, enable_zoom: enable_zoom, section_type: section_type -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </div>

      <!-- end of product image order swap -->

      {%- if first_3d_model -%}
        <button
          aria-label="{{ 'products.product.view_in_space_label' | t }}"
          class="btn btn--ar product-single__view-in-space"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | strip_html | escape }}"
          data-shopify-xr-hidden>

          /// rest of the snippet code ///
